body {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 233, 233);
    border-bottom: 5px solid rgb(240, 187, 196);
}

.barra img {
    margin-left: 9%;
    width: 250px;
    height: 50px;
}    

.btnMenu {
    color: rgb(158, 56, 73);
    padding: 15px;
}

.btnMenu a {
    text-decoration: none;
}

.barra{
    display: flex;
    flex-direction: row;
}    

ul.navegacion {
    display: none;
    flex-direction: column;
}    

ul.navegacion.show {
    display: flex;
}    

.navegacion {
    position: absolute;
    width: 100%;
    padding: 0;
    font-size: 80%;
    margin-top: 56px;
}    

.navegacion li {
    background-color: rgb(252, 233, 233);
    margin-right: 30px;
    padding: 10px;
    list-style: none;
    border: 1px transparent;
}    

.navegacion li a {
    text-decoration: none;
    color: rgb(158, 56, 73);
}    

.navegacion a {
    text-decoration: none;
}

.navegacion.show {
    display: flex;
}

.item {
    width: 100%;
    list-style: none;
    color: rgb(158, 56, 73);
    padding: 20px;
    text-transform: uppercase;
}

.home-txt,.home-txt-2 {
    margin: 0;
    font-size: 140%;
    color: rgb(252, 233, 233);
}

.home-banner-btn {
    color:  rgb(252, 233, 233);
    margin-top: 2%;
    border-radius: 10px;
    border: 3px solid  rgb(252, 233, 233);
    background-color: transparent;
}

.home-banner-btn:hover {
    background-color:  rgba(139, 102, 102, 0.8);
    color: rgb(255, 255, 255);
}

.home-banner-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    width: 80%;
}

.subtitulo {
    text-align: center;
    color: rgb(158, 56, 73);
    font-size: 140%;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    background: linear-gradient(rgba(105, 73, 73, 0.38), rgba(102, 56, 56, 0.8)), url(../images/imagen-modelo-principal.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 80%;
    height: 200px;
    border-radius: 20px;
}

.product {
    border: 0%;
    padding: 0%;
    margin: 2%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.product div {
    text-align: center;
    font-size: 90%;
    color: rgb(158, 56, 73);
}

.botonera button,#btn-enviar{
    width: 100%;
    margin-top: 5px;
}

.product div button {
    width: 20%;
    margin-bottom: 5%;
}

.product div h2 {
    margin: 0%;
    font-size: 140%;
}

.botonera{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 10px;
}

button {
    color: white;
    background-color: rgb(197, 105, 120);
    font-size: 1rem;
    border-radius: 10px;
    border: 0;
    height: 50px;
}

button:hover {
    background-color: rgb(158, 56, 73);
}

.product-detail img {
    height: 400px;
    width: 250px;
    margin: 25px;
}

table {
    background-color: rgb(252, 233, 233);
    width: 400px;
    border-collapse: collapse;
    margin-bottom: 140px;
}

tr,td {
    border: 1px solid rgb(158, 56, 73);
    background-color: rgb(252, 233, 233);
    text-align: center;
}

td {
    padding: 15px;
}

tr {
    color: rgb(158, 56, 73);
    text-align: center;
}

.container-product{
    display: flex;
    flex-direction: column;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail h3,li,p,img {
    margin: 0;
    color: rgb(158, 56, 73);
}

.formularioCatalogo div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.scrollTabla{
    overflow:scroll;
}

#formularioContacto {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

label {
    color: rgb(158, 56, 73);
    border-radius: 20px;
    padding: 7px;
}

input {
    border-radius: 10px;
    padding: 7px;
    border: 1px solid rgb(158, 56, 73);
}

#btn-enviar {
    margin: 7px auto 0 auto;
    font-size: 110%;
}

#btn-enviar:hover {
    background-color: rgb(158, 56, 73);

}

.footerBottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer {
    color: rgb(158, 56, 73);
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100%;
    background-color: rgb(252, 233, 233);
    border-top: 5px solid rgb(240, 187, 196);
    height: 30px;
}

.colorTablaFila{
    background-color: rgb(245, 84, 172);
    color: rgb(252, 233, 233);
}

@media only screen and (min-width: 600px) {
    .btnMenu {
        display: none;
    }
    
    ul.navegacion {
        display: flex;
        flex-direction: row;
        
    }
    
    .navegacion li{
        display: flex;
        padding: 1.5%;
        justify-content: center;
        width: 16%;
        margin: 0%;
        
    }
    .barra img {
        margin: 0px;
        height: 56px;
    }    
    
    .barra{
        margin-left: 3%;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
    }
    
    .navegacion {
        margin: 10%;
        margin-left: 10%;
        padding: 0;
        display: block;
        justify-content: center;
        width: 90%;
        font-size: 17px;
        align-items: center;
    }
    
    .navegacion :hover {
        background: rgb(240, 187, 196);
    }

    header {
        height: 430px;
        display: flex;
        justify-content: end;
        align-items: center;
        background:  url(../images/imagen-modelo-principal.jpeg);;
    }

    .home-txt {
        font-size: 40px;
        color:  rgb(158, 56, 73);;
    }
    
    .home-txt-2 {
        font-size: 30px;
        color:  rgb(158, 56, 73);;
    }
    
    .subtitulo {
        display: block;
        text-align: center;
        font-size: 200%;
    }

    .home-banner-info-container {
        margin-top: 10%;
        display: flex;
        align-items: center;
        width: 60%;
    }
    
    .home-banner-btn{
        width: 15%;
        height: 30px;
        color:  rgb(158, 56, 73);
        border-color:rgb(158, 56, 73);
    }

    .home-banner-btn:hover{
        background-color: rgb(158, 56, 73);
    }
    .container-product {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .home-products-conteiner {
        display: flex;
        justify-content: space-around;
    }
    
    .container-product{
        display: flex;
        flex-direction: row;
    }

    .product {
        width: 600px;
        border: 0%;
        padding: 0%;
        margin: 2%;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    
    .product div h2{
        font-size: 1.6rem;
        margin-top: 5%;
        margin-bottom: 3%;
    }
     
    .formularioCatalogo div{
        width: 60%;
        margin: 0;
    }
    
    .product img{
        height: 350px;
    }
    
    img {
        width: 100%;
        height: 60%;
    }
    
    .tablaDinamica{
        display: flex;
        justify-content: center;
    }
    
    .formularioCatalogo{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    label {
        font-size: 150%;
    }

    .scrollTabla{
        overflow: hidden;
    }

     .formularioCatalogo .botonera{
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .botonera button{
        margin-top: 1%;
        font-size: 1.1rem;
        width: 80%;
    }

    button{
        height: 30px;
    }

    #btn-enviar{
        margin-top: 3%;
        width: 80%;
    }

    .footerBottom{
        bottom: auto;
    }

    .tablaDinamica table{
        width: 700px;
    }

}